/* == Box == */

.box {
  padding: ($base-spacing-unit * 2) $base-spacing-unit;
}

  .box--tertiary {
    background-color: $color-tertiary;
  }

  .box__wrapper {
    margin: 0 auto;
    max-width: $wrapper-width;
  }

  .box__wrapper--centered {
    text-align: center;
  }
