/* == Paragraphs == */

.print--primary {
  @extend %text--bold;
  color: $color-primary;
}

.print--secondary {
  @extend %text--bold;
  color: $color-secondary;
}

.print--expanded {
  margin-top: $base-spacing-unit * 2;
}

.print--small {
  font-size: $base-font-size * 0.875;
}
