// == Variables ==

// Colors
$color-primary: #4e2c01;
$color-secondary: #aa8432;
$color-tertiary: #f7f1e4;

// Body
$body-color-background: #fff;
$body-color-font: #333;

// Typography
$base-font-weight: 400;
$base-font-percent: 112.5%;
$base-line-height: 1.5;
$base-font-family: "Segoe UI", "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
$base-font-size: 1em;
$heading-font-color: $color-primary;

// Spacing
$base-spacing-unit: 1.2em;
$base-border-radius: 4px;

// Wrapper
$wrapper-width: 50em;

// Grid
$grid-gutter: $base-spacing-unit * 1.33;

// Breakpoints
$breakpoint-palm: 30em;
$breakpoint-lap: 45em;
$breakpoint-desk: 60em;
