    <footer class="box  box--tertiary  l-footer">
      <div class="box__wrapper">
        <div class="grid">
          <div class="grid__item  one-quarter  lap--one-whole">
            <p>
              <a class="print--primary  link--hidden" href="/about.html">
                Overview
              </a>
            </p>
            <p>What exactly is Chocolatey anyway?</p>
          </div>
          <div class="grid__item  one-quarter  lap--one-whole">
            <p>
              <a class="print--primary  link--hidden" href="http://groups.google.com/group/chocolatey">
                Discussion
              </a>
            </p>
            <p>Find a possible bug? Got a feature request? Get involved in the discussion!</p>
          </div>
          <div class="grid__item  one-quarter  lap--one-whole">
            <p>
              <a class="print--primary  link--hidden" href="http://bit.ly/chocolateyVideo">
                Video
              </a>
            </p>
            <p>Want to see Chocolatey in action?</p>
          </div>
          <div class="grid__item  one-quarter  lap--one-whole">
            <p>
              <a class="print--primary  link--hidden" href="https://github.com/chocolatey/chocolatey/wiki/ChocolateyFAQs">
                FAQ
              </a>
            </p>
            <p>Read the frequently asked questions about Chocolatey.</p>
          </div>
        </div>
        <div class="box__wrapper  box__wrapper--centered">
          <div class="grid">
            <div class="grid__item  one-whole">
              <p class="print--primary  print--small  l-legal">
                © 2013 RealDimensions Software, LLC.
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js"></script>
  <script src="/assets/js/app.js"></script>
</body>
</html>
