<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
  <title>{{ site.name }} — {% if page.title == 'Home' %}{{ site.description }}{% else %}{{ page.title }}{% endif %}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="shortcut icon" href="/assets/img/favicon.ico">
  <!--[if lt IE 9]>
     <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
  <div class="l-container">
    <header class="box  box--tertiary  l-header">
      <div class="box__wrapper  box__wrapper--centered">
        <div class="grid">
          <div class="grid__item  one-whole">
            <h1 class="l-logo">
              <a class="link--hidden" href="/">
                Chocolatey
              </a>
            </h1>
            <p class="print--secondary">
              Let's get Chocolatey!
            </p>
          </div>
        </div>
      </div>
