      <div class="box__wrapper  box__wrapper--centered">
        <div class="grid">
          <nav id="js-mobile-nav" class="l-nav">
            <ul id="js-nav" class="grid__item  one-whole  nav  js-nav">
              <li class="print--primary">
                <a class="link--hidden" href="/about.html">
                  About
                </a>
              </li>
              <li class="print--primary">
                <a class="link--hidden" href="/usage.html">
                  Usage
                </a>
              </li>
              <li class="print--primary">
                <a class="link--hidden" href="/contribute.html">
                  Contribute
                </a>
              </li>
              <li class="print--primary">
                <a class="link--hidden" href="https://github.com/chocolatey/chocolatey">
                  Project
                </a>
              </li>
              <li class="print--primary">
                <a class="link--hidden" href="https://chocolatey.org/packages">
                  Gallery
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
