  {% include header.html %}
  {% include navigation.html %}
    <div class="island  l-main">
      <div class="wrapper">
        <div class="grid">
          <article class="grid__item  one-whole  l-page">
            <img class="l-icon" src="assets/img/chocolateyicon.gif" />
            {{ content }}
          </article>
        </div>
      </div>
      <div class="wrapper  wrapper--centered">
        <div class="grid">
          <div class="grid__item one-whole  l-actions">
            <a class="button  button--primary" href="/about.html">
              Want to learn more?
            </a>
          </div>
        </div>
      </div>
    </div>
  {% include footer.html %}
